<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
</head>

<body>
    <form action="/user/add/" method="post">
        <h1>Add New User</h1>
        name : <input type="text" name="name"><br> age : <input type="text" name="age"><br> movie : <input type="text" name="movie"><br>
        <button type="submit">Add</button>
    </form>
</body>

</html>