<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
</head>

<body>
    <form action="/user/edit/<%= data.id %>" method="post">
        <h1>Edit User</h1>
        name : <input type="text" name="name" value="<%= data.name %>"><br> age : <input type="text" name="age" value="<%= data.age %>"><br> movie : <input type="text" name="movie" value="<%= data.movie %>"><br>
        <button type="submit">Save</button>
    </form>
</body>

</html>